/*desktop*/

.register {
    background-color: #f4f4f4;
    margin: 20px 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div-text-group-reg1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-text-reg{
    margin: 10px !important;
}

.div-text-reg-checkbox{
    margin: 10px 10px 10px 0px !important;
}

.div-form-control{
    margin: 8px;
    width: 280px;
}

.MuiOutlinedInput-input {  /*width of textfields*/
    width: 280px !important;
}

.div-text-group-reg2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div-button-reg{
    margin: 10px !important;
    width: 200px;
}

.MuiMenuItem-gutters { /*legördülő*/
    margin-left: 13px !important;
}

.MuiPaper-root{
    background-color: #f4f4f4 !important;
}

.MuiListItem-button{
    padding-bottom: 2px !important;
}

.MuiSelect-root{
    text-align: left !important;
    padding-left: 2px !important;
}


@media only screen and (max-width: 800px){ /*tablet*/
    .MuiOutlinedInput-input {
        width: 200px !important;
    }

    .div-form-control{
        width: 200px;
    }
}

@media only screen and (max-width: 600px){ /*mobile*/
    .register {
        flex-direction: column;

    }

    .div-text-group-reg1{
        margin: 20px 10px 0px 10px;
    }

    .div-text-group-reg2{
        margin: 0px 20px 20px 20px;
    }

    .div-button-reg{
        width: 120px;
    }

    .MuiListItem-button{
        padding-bottom: 0px !important;
    }
}