.login {
    background-color: #f4f4f4;
    margin: 20px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group{
    margin: 10px 15% !important;
}

.form-group:first-child{
    margin-top: 30px !important;
}

.form-group:last-child{
    margin-bottom: 30px !important;
}